SECRETS_KEY=
SESSION_COOKIE_SECURE=false



# 手動資產若要用 API 抓即時價格，才需要
COINMARKETCAP_API_KEY=

# 可選：開啟 FastAPI docs
ENABLE_API_DOCS=1



ALCHEMY_API_KEY=
ALCHEMY_NETWORKS=eth,polygon,arb,base,mantle,scroll,bnb

