SECRETS_KEY=
SESSION_COOKIE_SECURE=false

# Optional: enable FastAPI docs
ENABLE_API_DOCS=1

ALCHEMY_API_KEY=
ALCHEMY_NETWORKS=eth,polygon,arb,base,mantle,scroll,bnb
ALCHEMY_MAX_TOKENS_PER_NETWORK=100
